<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Meet Joseph!</h2>
                    <h3 class="section-subheading text-muted">A little bit about who I am.</h3>
                </div>
            </div>
            <div class="row">
                <!-- {% for member in site.people %} -->
                <div class="col-sm-2 portrait">
                    <div class="team-member">
                        <img src="img/team/portrait-photo.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            <!-- {% for network in member.social %} -->
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            <!-- {% endfor %} -->

                        </ul>
                    </div>
                </div>
                <!-- {% endfor %} -->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-subheading">What Drives Me</h3>
                    <p class="large text-muted">From an early age, I was always curious how things worked. My first major discovery was electricity, when I realized that the christmas lights all went out after snipping out a single bulb. I've since been less daring, but still on a discovery to find out the inner workings of things in the world. I believe it is this quality that has led me to my success in web development. Things work because I know how it is working underneath. And when things don't? Another bug means another opportunity to learn something new or unexpected! </p>
                    <h3 class="section-subheading">Why Programming?</h3>
                    <p class="large text-muted">My first taste of programming began with an intro to CS in high school. While everyone was working on a simple text based applet for their capstone project, I pushed myself to do something more exciting - Reversi. Class time wasn't enough here, so I stayed after school, worked lunch hours, and set up my own development environment at home. In the end, I realized I could have only accomplished this because of the passion and hard work I put into programming. I've never experienced a place to use creativity and logic in such novel ways, and found it to be profoundly rewarding. </p>
                </div>
            </div>
        </div>
    </section>